#playlist {
  background-color: #171717;
  display: inline-block;
  font-family: proxima-nova, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

#playlist #pw, #playlist #sl, #playlist #mg {
  color: white;
}