body {
  list-style-type: none;
}

/* ___________________________________________________________
                      ERIKA
  ______________________________________________________________*/

h1, h2 {
  text-align: center;
}

.display-3 {
  color: purple;
     -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 50;
}

.display-4 {
  color: red;
 
}
@-webkit-keyframes example {
    from {color: purple;}
    to {color: forestgreen;}
}
@keyframes example {
    from {color: purple;}
    to {color: forestgreen;}
}

#boombox {
  width: 500px;
  height: 300px;
}

#imagebox {
    margin: auto;
    text-align: center;
}

#buttons {
  position: absolute;
  top: 240px;
  left: 210px;
}

#allcontent {
  background-color: lightblue;
  opacity: 0.9;
  position: relative;
  margin: auto;
  width: 600px;
  height: 600px;
  border: 10px solid purple;
  padding: 10px;
  margin-top: 70px;
}

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#equalizer{
    width: 120px;
    position: absolute;
    top:280px;
    left: 240px;
}
#speaker1{
    position: absolute;
    width: 150px;
    top:300px;
    left:53px;
}
#speaker2{
    position: absolute;
    width: 150px;
    top:300px;
    left: 386px;
}

#speaker3{
    position: absolute;
    width: 60px;
    top:240px;
    left: 430px;
    
}
#speaker4{
    position: absolute;
    width: 60px;
    top:240px;
    left: 97px;
    
}
.display-3, .display-4{
    font-family: 'Sedgwick Ave Display', cursive;
}


/* ___________________________________________________________
                      DANAYA
______________________________________________________________*/

#playlist {
  background-color: #171717;
  display: inline-block;
  font-family: proxima-nova, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  padding: 20px;
}

ol {
  padding: 0;
  margin: 0;
}

#pw, #sl, #mg, #lg, #uf {
  border-bottom: 1px solid #282828;
}

#playlist #pw, #playlist #sl, #playlist #mg, #playlist #lg, #playlist #uf {
  color: white;
  padding: 0px;